@using MinuteOfHappiness.Frontend.Web
@using MinuteOfHappiness.Frontend.Web.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>One Minute of Happiness</title>

    <environment names="Development">
        <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
        <link href="~/css/simple-sidebar.css" rel="stylesheet" />
        <link href="~/css/custom.css" rel="stylesheet" />
    </environment>
    <environment names="Staging,Production">
        <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/video.min.css" rel="stylesheet" asp-append-version="true" />
    </environment>
</head>
<body>
    <div id="main" v-cloak>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">One Minute of Happiness</a>
                </div>
                <div id="navbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#menu-toggle" id="menu-toggle">
                                <span class="glyphicon glyphicon-cog"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>


        <div id="wrapper">

            <!-- Sidebar -->
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <li class="sidebar-brand">
                        <span href="#">Your music</span>
                    </li>
                    <li class="clickable">
                        <input id="relaxed" type="radio" name="music" value="relaxed" checked>
                        <label for="relaxed">Relaxed</label>
                    </li>
                    <li class="clickable">
                        <input id="happy" type="radio" name="music" value="happy">
                        <label for="happy">Happy</label>
                    </li>
                    <li>
                        <a class="btn btn-success help-button" href="https://www.deutsche-depressionshilfe.de/unterstuetzen-sie-uns/spenden" target="_blank">
                            Help Others <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="embed-responsive embed-responsive-16by9 negativ-margin" id="page-content-wrapper" v-show="playing">
                <div class="container-fluid">
                    <div class="row" id="youtube-video-container">
                        <!-- 16:9 aspect ratio -->
                        <div id="youtube-video"></div>
                    </div>
                </div>
            </div>
            <div id="page-content-wrapper" style="margin-top: 75px;" v-show="!playing">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12" style="text-align: right;">
                            <button id="replay-button" type="button" class="btn btn-lg btn-danger" @@click="startVideoSequence">
                                Replay
                            </button>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </div>

    <script type="text/javascript">
        var urls = {
            getNewVideoParams: '@Url.Action("GetNewYouTubeVideoParams", "Video")',
            getNewVideoUrls: '@Url.Action("GetNewYouTubeVideoUrls", "Video")'
        }
    </script>

    <environment names="Development">
        <script type="text/javascript" src="~/lib/jquery/jquery-3.2.1.js"></script>
        <script type="text/javascript" src="~/lib/bootstrap/js/bootstrap.js"></script>
        <script type="text/javascript" src="~/lib/vue/vue.js"></script>
        <script type="text/javascript" src="~/lib/vue-resource/vue-resource.js"></script>
        <script type="text/javascript" src="~/js/main.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script type="text/javascript" src="~/lib/jquery/jquery-3.2.1.min.js" asp-append-version="true"></script>
        <script type="text/javascript" src="~/lib/bootstrap/js/bootstrap.min.js" asp-append-version="true"></script>
        <script type="text/javascript" src="~/lib/vue/vue.min.js" asp-append-version="true"></script>
        <script type="text/javascript" src="~/lib/vue-resource/vue-resource.min.js" asp-append-version="true"></script>
        <script type="text/javascript" src="~/js/video.min.js" asp-append-version="true"></script>
    </environment>
</body>
</html>